.navbar {
  background-color: #accc7b !important;
}
.offcanvas {
  background-color: #accc7b !important;
}

.dropdown-menu {
  background-color: #ffffff !important;
}

.dropdown-item-color {
  color: green;
  list-style: none;
  text-decoration: none;
  padding-left: 15px;
}

.item-lista {
  color: #1b1b1a;
}

.activo {
  color: green;
}

.logo {
  width: 125px;
}
